$max: 100;
$maxFontSize: 50;
$maxPadding: 130;

@mixin margin-x {
    @for $i from 0 through $max {


        .m-#{$i} {



            margin: #{$i}px !important; }

        .m-t-#{$i} {



            margin-top: #{$i}px !important; 
        }


        .m-b-#{$i} {



            margin-bottom: #{$i}px !important;
        }


        .m-l-#{$i} {



            margin-left: #{$i}px !important;
        }
        .m-r-#{$i} {



            margin-right: #{$i}px !important;
        }

    }
}

@mixin font-size-x {
    @for $i from 0 through $maxFontSize {


        .size-#{$i} {
            font-size: #{$i}px !important;
        }

    }
}

@mixin padding-x {
    @for $i from 0 through $maxPadding {


        .p#{$i} {



            padding: #{$i}px !important; }

        .p-t-#{$i} {



            padding-top: #{$i}px !important; 
        }


        .p-b-#{$i} {



            padding-bottom: #{$i}px !important;
        }


        .p-l-#{$i} {



            padding-left: #{$i}px !important;
        }
        .p-r-#{$i} {



            padding-right: #{$i}px !important;
        }

    }
}

@include font-size-x;
@include padding-x;
@include margin-x;