@import './variables';
@import './mixin';

.slick-slide {
    padding: 0 60px !important;

    &.item-container {
        &:focus {
            outline: none;
        }
    }
}

.slick-arrow {
    display: none !important;
}

#news-slider{
    .item {
        &-img {
            max-width: 100%;
            height: 500px;
            margin: 10px;

            @include media-breakpoint-down(sm) {
                height: 230px;
            }
        }
    }
    .slick-current {
        img {
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }
    }

    .title-slider, .btn {
        padding-left: 40px;

        @include media-breakpoint-down(sm) {
            padding-left: 15px;
        }
    }

    .title-slider {
        @include media-breakpoint-down(sm) {
            font-size: 20px;
            font-weight: 500;
            letter-spacing: -0.5px;
            line-height: 30px;
        }
    }

    .slick-slide {
        @include media-breakpoint-down(sm) {
            padding: 0 !important;
            margin: 20px 10px 5px;
        }

        margin: 0 10px;

        .item-img {
            margin: 0;
        }
    }
}

#choice-slider {
    .item {
        &-img {
            max-width: 100%;
            height: 600px;
            margin: 10px;
            display: block;
            width: 100%;
            object-fit: cover;
            width: 440px;

            @include media-breakpoint-down(sm) {
                width: 250px;
                height: 320px;

                &:first-child {
                    margin-left: 0 !important;
                }
            }
        }
    }

    .slick-slide {
        padding: 0px 10px !important;
        max-width: 440px;

        @include media-breakpoint-down(sm) {
            max-width: 250px;

            &:first-child {
                padding-left: 0 !important;
            }
        }
    }

    .slick-track {
        transform: translate3d(330px, 0px, 0px);
    }
}