body {
    font-family: 'Futura Std';
    font-weight: normal;
    font-style: normal;
    color: #3A3A3A;
}

header {
    margin: 25px 0;
}

.back-grey {
    background-color: #F7F7F7;
}
.pointer {
    cursor: pointer;
}

.m-auto {
    margin: auto !important;
}