@charset "UTF-8";
@font-face {
  font-family: "mandrarossa-icon";
  src: url("../../assets/fonts/mandrarossa-icon.eot?r2yios");
  src: url("../../assets/fonts/mandrarossa-icon.eot?r2yios#iefix") format("embedded-opentype"), url("../../assets/fonts/mandrarossa-icon.ttf?r2yios") format("truetype"), url("../../assets/fonts/mandrarossa-icon.woff?r2yios") format("woff"), url("../../assets/fonts/mandrarossa-icon.svg?r2yios#mandrarossa-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "mandrarossa-icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-facebook:before {
  content: ""; }

.icon-hamburger_icon:before {
  content: ""; }

.icon-ico_play:before {
  content: ""; }

.icon-instagram:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }

.icon-youtube:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.title {
  font-size: 50px;
  line-height: 65px;
  letter-spacing: -1.5px;
  color: #311E0B;
  font-family: "Playfair Display", serif; }
  .title-section {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.5px;
    color: #311E0B;
    font-family: "Montserrat", sans-serif; }

.subtitle {
  font-size: 15px;
  line-height: 30px;
  color: #555555;
  font-family: "Poppins", sans-serif; }

.btn {
  font-size: 13px;
  text-transform: uppercase;
  line-height: 13px;
  letter-spacing: 1.6px;
  color: #B89151;
  font-family: "Montserrat", sans-serif; }

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
  position: relative; }

.pointer {
  cursor: pointer; }

.m-auto {
  margin: auto !important; }

a {
  text-decoration: none; }

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.video {
  width: 100%;
  height: auto; }

.d-flex {
  display: flex; }

.d-inline {
  display: inline; }

.d-inline-block {
  display: inline-block; }

.d-none {
  display: none; }

header {
  padding: 60px 60px 0;
  position: fixed;
  width: 100%; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }
  .nav-container_links {
    width: 50%;
    justify-content: flex-end; }
  .nav-details {
    display: block;
    color: #ffffff;
    font-family: "Playfair Display", serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 15px;
    text-align: right; }
  .nav-link {
    margin-right: 30px; }
    .nav-link a {
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1.5px;
      line-height: 14px; }
    .nav-link .open-nav::after {
      content: "";
      display: inline-block;
      font-family: "mandrarossa-icon" !important;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .nav-link .open-nav::after {
      color: #ffffff; }

.slick-slide {
  padding: 0 60px !important; }
  .slick-slide.item-container:focus {
    outline: none; }

#world-slider .item-img {
  max-width: 100%;
  height: 500px;
  margin: 10px; }

#world-slider .slick-current img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }

#choice-slider .item-img {
  max-width: 100%;
  height: 600px;
  margin: 10px;
  display: block;
  width: 100%;
  object-fit: cover; }

#choice-slider .slick-track {
  transform: translate3d(330px, 0px, 0px); }

/*# sourceMappingURL=main.css.map */
